body {
    background: linear-gradient(135deg, #ffe066 0%, #000 100%);
    /* background-image: url('img/universo.png'); */
        /* o 'fondo.jpg' si está en la misma carpeta */
        background-size: auto;
        /* Para que la imagen cubra toda la pantalla */
        /* background-repeat: no-repeat; */
        background-position: center center;
        background-attachment: fixed;
        /* Hace que el fondo no se mueva al hacer scroll */
        font-family: Arial, sans-serif;
        color: #080707;
        /* Cambia el color del texto si es necesario para que se vea bien */
    font-family: Arial, sans-serif;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.2);
    /* Fondo negro con 60% de opacidad */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
}
#arbol {
    position: relative;
        width: 1000px;
        height: 800px;
        border: 1px solid #ccc;
        overflow: auto;
        background-color: #f8f8f8;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgb(0, 0, 0);
}

.nodo {
    border: 1px solid #000;
        padding: 5px;
        background-color: white;
    text-align: center;
    width: 120px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px #aaa;
}

.cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: rgb(0, 0, 0);
}
